@import "../../global/scss/rootStyles.scss";
.account {
  padding: 60px 20% 20px 20%;
  background-color: #fff;
  // height: 100;
}
.line {
  display: block;
  background-color: $greyLight;
  width: 100%;
  height: 1px;
}

.errorUpdate {
  font-size: 18px;
  color: red;
  font-weight: 400;
  font-style: italic;
}

.accountInfo {
  @include d-flex(start, center);
  .image {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 180px;
      width: 180px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .info {
    margin-left: 30px;
  }
  .infoItem {
    @include d-flex(start, center);
    margin-bottom: 20px;
    &.mobile {
      display: none;
    }
    &.desktop {
      display: block;
    }
    .name {
      font-size: 36px;
      font-weight: 500;
      // width: 300px;
      word-break: break-word;
    }
    .linkEdit {
      padding: 4px 8px;
      background-color: $whiteColor;
      color: $blackColor;
      border: 2px solid $greyLight;
      border-radius: 6px;
      margin: 0 24px;
      white-space: nowrap;
    }
    .settingIcon {
      font-size: 30px;
      cursor: pointer;
    }
    .posts,
    .follower,
    .following {
      font-size: 18px;
      font-weight: 400;
      span {
        font-weight: 600;
      }
    }
    .follower,
    .following {
      margin-left: 24px;
    }
    .username {
      display: block;
      font-size: 24px;
      font-weight: 500;
    }
    .bio {
      width: 100%;
      word-wrap: break-word;
    }
  }
}

.postPages {
  @include d-flex(center, center);
  .postPageItem {
    &:not(:first-child) {
      margin-left: 24px;
    }
  }
  .postPageLink {
    @include d-flex(center, center);
    color: var(--blackColor);
    padding: 16px 0;
    transition: all 0.2s linear;

    &.active {
      transition: all 0.2s linear;
      border-top: 1px solid var(--blackColor);
    }
    .postPageIcon {
      margin-right: 8px;
    }
    span {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 0;
    }
  }
}

@include desktop {
  .account {
    padding: 60px 10% 20px 10%;
  }
}
@include tablet {
  .account {
    padding: 60px 4% 20px 4%;
  }
  .accountInfo {
    .image {
      padding: 40px;
    }
  }
  .accountPost {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include mobile {
  .account {
    padding: 60px 4% 60px;
  }
  .accountInfo {
    @include d-flex(center, center);
    flex-direction: column;
    .image {
      padding: 40px 40px 12px 40px;
      img {
        width: 120px;
        height: 120px;
        border-radius: 100rem;
      }
    }
    .info {
      width: 100%;
      margin-left: 0;
    }
    .infoItem {
      @include d-flex(space-between, center);
      margin-bottom: 10px;

      &.mobile {
        text-align: center;
        display: block;
      }
      &.desktop {
        display: none;
      }
      &.infoItemMobile {
        flex-direction: column;
        margin-bottom: 10px;
      }
      &.infoItemFollow {
        border-top: 1px solid $greyLight;
        border-bottom: 1px solid $greyLight;
        width: 100%;
        padding: 12px 0px;
      }
      .name {
        font-size: 24px;
        font-weight: 500;
      }
      .linkEdit {
        padding: 4px 8px;
        background-color: $whiteColor;
        color: $blackColor;
        border: 2px solid $greyLight;
        border-radius: 6px;
        font-size: 14px;
        margin: 0 24px;
      }
      .settingIcon {
        position: absolute;
        top: 80px;
        right: 20px;
        cursor: pointer;
        font-size: 20px;
      }

      .posts,
      .follower,
      .following {
        font-size: 14px;
        span {
          width: 100%;
          display: block;
          text-align: center;
        }
      }
      .follower,
      .following {
        margin-left: 0;
      }
      .username {
        display: block;
        font-size: 16px;
        font-weight: 500;
      }
      .bio {
        width: 100%;
        font-size: 12px;

        text-align: center;
        word-wrap: break-word;
      }
    }
  }

  .line {
    display: none;
  }

  .postPageLink {
    .postPageIcon {
      font-size: 12px;
    }
    span {
      font-size: 12px !important;
    }
  }
  .followContainer {
    @include d-flex(center, center);
    flex-direction: column;
    width: 100px;
    text-align: center;
  }

  .accountPost {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 40px;
  }
}
