@import "../../global/scss/rootStyles.scss";

.login {
  background-color: $bgColor;
  height: 100vh;
  padding: 0 16%;
}

.loginLeft {
  display: flex !important;
  justify-content: center;
  align-items: center;

  img {
    width: 94%;
    object-fit: cover;
  }
}
.loginRight {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// RESPONSIVE
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .login {
    padding: 0 6%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .login {
    padding: 0 0%;
  }
  .loginForm,
  .signUp {
    width: 300px;
  }
  .loginLeft {
    img {
      width: 100%;
    }
  }

  .signUp {
    margin-top: 8px;
  }
}

@media screen and (max-width: 767px) {
  .login {
    padding: 0 6%;
  }
  .loginForm,
  .signUp {
    width: 100%;
  }
  .loginLeft {
    display: none !important;
  }
}
