@import "../../global/scss/mixins.scss";
@import "../../global/scss/responsive.scss";

.intro {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--whiteColor);
  z-index: 500000;
  transition: all 1s linear;
  transform: translateX(0);

  &.hidden {
    //     display: none;
    transform: translateX(-100000px);
    transition: all 1s linear;
  }
}
.cardTitle {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  animation: Fade 1s linear;
  white-space: nowrap;
  @include mobile {
    font-size: 20px;
    bottom: 120px;
  }
}
.cardGroup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardGroup,
.card {
  aspect-ratio: 5 / 7;
  @include tablet {
    aspect-ratio: 6/7;
  }
}

.cardGroup,
.bigCard {
  width: 30vmin;
}

.cardGroup {
  position: absolute;
  transition: transform 400ms ease;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);

  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.bigCard {
  border-radius: 1vmin;
}

.littleCard {
  width: 12vmin;
  height: 12vmin;
  border-radius: 2vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

.bigCard:nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1514582086679-4024becf927e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2VsZmllfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  transform: translateX(-10%) rotate(-1deg);
  background-size: cover;
}

.bigCard:nth-child(6) {
  transform: translateX(-6%) rotate(-3deg);
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1594813967918-3d04c5af997d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNlbGZpZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}

.bigCard:nth-child(4) {
  background-image: url("https://images.unsplash.com/photo-1621552866397-9a3d8e466496?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHNlbGZpZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  transform: rotate(2deg);
  background-size: cover;
}

.bigCard:nth-child(8) {
  background-image: url("https://images.unsplash.com/photo-1582152629442-4a864303fb96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2VsZmllfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  transform: translate(10%, 3%) rotate(5deg);
  background-size: cover;
}

.littleCard:nth-child(1) {
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1611605698323-b1e99cfd37ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

.littleCard:nth-child(3) {
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1611339555312-e607c8352fd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

.littleCard:nth-child(5) {
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1611262588024-d12430b98920?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHNvY2lhbCUyMG1lZGlhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

.littleCard:nth-child(7) {
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1611605698335-8b1569810432?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHNvY2lhbCUyMG1lZGlhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

// ACTIVE
.cardGroup.active > .card {
  box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
}

.cardGroup.active > .bigCard:nth-child(2) {
  transform: translate(-75%, 16%) rotate(-24deg);
}

.cardGroup.active > .bigCard:nth-child(4) {
  transform: translate(-25%, 8%) rotate(-8deg);
}

.cardGroup.active > .bigCard:nth-child(6) {
  transform: translate(25%, 8%) rotate(8deg);
}

.cardGroup.active > .bigCard:nth-child(8) {
  transform: translate(75%, 16%) rotate(24deg);
}

.cardGroup.active > .littleCard:nth-child(1) {
  transform: translate(180%, -220%) rotate(-15deg);
}

.cardGroup.active > .littleCard:nth-child(3) {
  transform: translate(180%, 200%) rotate(15deg);
  z-index: 1;
}

.cardGroup.active > .littleCard:nth-child(5) {
  transform: translate(-220%, -220%) rotate(15deg);
}

.cardGroup.active > .littleCard:nth-child(7) {
  transform: translate(-280%, 140%) rotate(-15deg);
}

// HOVER
.cardGroup:hover > .card {
  box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
}

.cardGroup:hover > .bigCard:nth-child(2) {
  transform: translate(-75%, 16%) rotate(-24deg);
}

.cardGroup:hover > .bigCard:nth-child(4) {
  transform: translate(-25%, 8%) rotate(-8deg);
}

.cardGroup:hover > .bigCard:nth-child(6) {
  transform: translate(25%, 8%) rotate(8deg);
}

.cardGroup:hover > .bigCard:nth-child(8) {
  transform: translate(75%, 16%) rotate(24deg);
}

.cardGroup:hover > .littleCard:nth-child(1) {
  transform: translate(180%, -220%) rotate(-15deg);
}

.cardGroup:hover > .littleCard:nth-child(3) {
  transform: translate(180%, 200%) rotate(15deg);
  z-index: 1;
}

.cardGroup:hover > .littleCard:nth-child(5) {
  transform: translate(-220%, -220%) rotate(15deg);
}

.cardGroup:hover > .littleCard:nth-child(7) {
  transform: translate(-280%, 140%) rotate(-15deg);
}
