@import "../../../../global/scss/rootStyles.scss";

.postList {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  .postItem {
    // height: 272px;
    aspect-ratio: 1;
  }
  .postImg {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

@include desktop {
  .postList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@include tablet {
  .postList {
    grid-template-columns: 1fr 1fr;
  }
}
@include mobile {
  .postList {
    grid-template-columns: 1fr;
  }
}
