@import "../../global/scss/rootStyles.scss";
.menuMobile,
.iconOpenMenu,
.chatIconMobile,
.chatMobile a {
  display: none;
}
.headerContainer {
  position: fixed;
  z-index: 1000;
  color: $blackColor;
  background-color: $whiteColor;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $paddingRL;

  .logoImg {
    width: 140px;
  }
  .searchInput {
    @include box(268, 36);
    border-radius: $borderRadius;
    background: rgb(239, 239, 239);
    border: none;

    &:hover,
    &:focus {
      box-shadow: none;
      border: none;
    }
    input {
      background: rgb(239, 239, 239);
    }

    .searchIcon {
      width: 1.8rem;
      height: 1.8rem;
      color: #8e8e8e;
    }
  }

  .headerMenu {
    @include d-flex(center, center);
    height: 100%;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 2.2rem;
      height: 2.2rem;
      margin-left: 26px;
      height: 100%;

      &:hover a {
        color: blue;
        transform: translateY(-10px);
        transition: all 0.2s ease-out;
      }
      a {
        width: 2.2rem;
        height: 2.2rem;
        display: block;
        text-decoration: none;
        color: $blackColor;
        transition: all 0.2s ease-out;
      }
    }
    .menuIcon {
      width: 2.2rem;
      height: 2.2rem;
    }
    .menuUser {
      @include d-flex(center, center);
      width: 3rem;
      height: 3rem;
      border: 2px solid #000;
      overflow: hidden;
      border-radius: 100rem;
      margin-left: 2.6rem;
      cursor: pointer;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.nav-link.activated {
  background-color: aqua;
}

.active {
  color: white !important;
}

// RESPONSIVE
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .headerContainer {
    padding: 0 10%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .headerContainer {
    padding: 0 4%;
  }
}

@media screen and (max-width: 767px) {
  .headerContainer {
    height: fit-content;
    padding: 12px 6%;
  }
  .headerMenu {
    display: none !important;
  }
  .chatIconMobile {
    display: block;
    width: 30px;
    height: 30px;
    color: #000;
    &.hidden {
      display: none;
    }
  }
  .searchInput {
    display: none;
    animation: RightToLeft 0.255s linear;
    &.active {
      display: flex;

      width: 220px !important;
    }
  }
  .menuMobile {
    display: block;
  }

  .menuMobile {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: $whiteColor;
    padding: 20px 6%;
    z-index: 100;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 3.2rem;
      height: 3.2rem;
      height: 100%;

      &:hover a {
        color: blue;
        transform: translateY(-10px);
        transition: all 0.2s ease-out;
      }
      a {
        width: 3.2rem;
        height: 3.2rem;
        display: block;
        text-decoration: none;
        color: $blackColor;
        transition: all 0.2s ease-out;
      }
    }
    .menuIcon {
      width: 3.2rem;
      height: 3.2rem;
    }
    .menuUser {
      @include d-flex(center, center);
      width: 3.2rem;
      height: 3.2rem;
      border: 2px solid #000;
      overflow: hidden;
      border-radius: 100rem;

      cursor: pointer;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
