@import "../../global/scss/rootStyles.scss";

.menuMobile,
.iconOpenMenu,
.chatIconMobile,
.chatMobile a {
  display: none;
}
.headerContainer {
  position: fixed;
  z-index: 1000;
  color: $blackColor;
  background-color: $whiteColor;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $paddingRL;

  .logoImg {
    width: 140px;
  }

  .headerMenu {
    @include d-flex(center, center);
    height: 100%;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 2.2rem;
      height: 2.2rem;
      margin-left: 26px;
      height: 100%;

      &:hover a {
        color: blue;
        transform: translateY(-10px);
        transition: all 0.2s ease-out;
      }
      a {
        width: 2.2rem;
        height: 2.2rem;
        display: block;
        text-decoration: none;
        color: $blackColor;
        transition: all 0.2s ease-out;
      }
    }
    .menuIcon {
      font-size: 2.2rem;
    }

    .addIcon {
      width: 2.2rem;
      height: 2.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      border: 2px solid $blackColor;
      border-radius: 6px;
      &:hover {
        border: 2px solid $mainBlue;
      }
    }
    .menuUser {
      @include d-flex(center, center);
      position: relative;
      width: 3rem;
      height: 3rem;
      border: 1px solid #000;
      // overflow: hidden;
      border-radius: 100rem;
      margin-left: 2.6rem;
      cursor: pointer;
      img {
        height: 100%;
        width: 100%;
        border-radius: 100rem;
        object-fit: cover;
      }
    }
  }
}

.settings {
  margin: 24px 0;
}
.settingsMore {
  .text {
    display: block;
    padding: 8px 16px;

    font-size: 14px;
    font-weight: 500;
    color: $blackColor;

    &:hover {
      background-color: rgba($color: $mainBlue, $alpha: 0.1);
    }
  }
}
.subUserMenu {
  z-index: 10000;
  width: fit-content;
  height: fit-content;
  padding: 16px 48px 16px 16px;
  .iconSub {
    text-align: center;
    width: 20px;
    font-size: 18px;
    transition: all 0.2s ease-out;
  }
  a {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .subMenuItem {
    @include d-flex(start, center);
    line-height: 0;
    cursor: pointer;
    color: $blackColor;
    &:hover .iconSub {
      color: $mainBlue;
      transform: scale(1.1);
      transition: all 0.2s ease-out;
    }
    &:hover .subUserLabel {
      transform: translateX(10px);
      transition: all 0.2s ease-out;
    }
  }
  .subUserLabel {
    margin-left: 16px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: $greyBold;
    border-bottom: 1px solid $greyLight;
    margin-bottom: 8px;
  }
}

.nav-link.activated {
  background-color: aqua;
}

.active {
  color: white !important;
}

// RESPONSIVE
@include desktop {
  .headerContainer {
    padding: 0 10%;
  }
}
@include tablet {
  .headerContainer {
    padding: 0 4%;
  }
}

@include mobile {
  .headerContainer {
    height: fit-content;
    padding: 6px 6%;
  }
  .headerMenu {
    display: none !important;
  }
  .chatIconMobile {
    display: block;
    width: 30px;
    height: 30px;
    color: #000;
    &.hidden {
      display: none;
    }
  }
  .searchInput {
    display: none;
    animation: RightToLeft 0.255s linear;
    &.active {
      display: flex;

      width: 140px !important;
    }
  }
  .menuMobile {
    display: block;
  }

  .menuMobile {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: $whiteColor;
    padding: 12px 6%;
    z-index: 100;
    .addIcon {
      width: 2.4rem;
      height: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px !important;
      border: 2px solid $blackColor;
      border-radius: 6px;
    }
    .saveIcon {
      font-size: 26px;
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      height: 100%;

      a {
        @include d-flex(center, center);
        text-decoration: none;
        color: $blackColor;
        transition: all 0.2s ease-out;
      }
    }
    .menuIcon {
      font-size: 2.4rem;
    }
    .menuUser {
      @include d-flex(center, center);
      width: 3rem;
      height: 3rem;
      border: 2px solid #000;
      overflow: hidden;
      border-radius: 100rem;

      cursor: pointer;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
