@import "../../../../global/scss/rootStyles.scss";

.post {
  padding: 16px 0 12px 0;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  .userName {
    display: flex;
    justify-content: center;
    align-items: center;
    .info {
      margin-left: 8px;

      .name {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        line-height: 1;
        margin-bottom: 4px;
      }
      .description {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
        color: $greyBold;
        line-height: normal;
      }
    }
    .image {
      width: 40px;
      height: 40px;
      border-radius: 100rem;
      img {
        height: 100%;
        width: 100%;
        border-radius: 100rem;

        object-fit: cover;
      }
    }
  }

  .userFollowBtn {
    padding: 8px 12px;
    background-color: $mainBlue;
    color: $whiteColor;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
}

.postImage {
  margin: 10px 0;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.emotion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 0 12px;
  .left {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  .commentLink {
    color: $blackColor;
    line-height: 0;
  }
  .likeIcon,
  .commentIcon {
    font-size: 24px;
    margin-right: 16px;
    cursor: pointer;
    &:hover {
      color: var(--menuColor);
    }
  }
  .likeIcon {
    &.active {
      color: red;
    }
  }

  .commentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    margin-top: 4px;
    margin-left: 6px;
  }

  .saveIcon {
    font-size: 30px;
    cursor: pointer;
    &:hover {
      color: var(--menuColor);
    }
  }
}
.captionContainer {
  width: 200px;

  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  padding-left: 12px;
  .userNameCaption {
    font-weight: 600;
    margin-right: 8px;
  }
  .caption {
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0 !important;
  }
}

.comment {
  margin-top: 4px;
  padding: 0 16px;
}
.commentList {
  padding-left: 16px;
  margin-top: 8px;
  font-size: 14px;
  color: rgb(142, 142, 142);
  &:hover {
    color: rgb(142, 142, 142);
  }
}
.textUserLiked {
  font-size: 16px;
  font-weight: normal;
  padding-left: 12px;
  margin-top: 8px;
  font-weight: 600;
  span {
  }
}
