@import "../../../global/scss/mixins.scss";
@import "../../../global/scss/responsive.scss";
@import "../../../global/scss/variables.scss";
// ANTD CUSTOM

.ant-table-thead > tr > th {
  background-color: var(--bgLight) !important;
  color: var(--textWhiteChange);
}

.table__arrow-prev {
  color: var(--textWhiteChange);
}
.table__arrow-next {
  color: var(--textWhiteChange);
}
// SCSS

.table {
  &__user-id {
    color: var(--textWhiteChange);
  }
  &__posts-image {
    width: 100px;
    height: 100px;
    &:hover img {
      transform: scale(1.1);
      transition: all 0.25s linear;
      cursor: pointer;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
      transition: all 0.25s linear;
    }
  }
  &__posts-caption {
    font-style: 16px;
    font-weight: 400;
    margin-bottom: 0 !important;
    color: var(--textWhiteChange);
  }
  &__posts-caption-error {
    font-style: 14px;
    font-weight: 400;
    color: red;
    font-style: italic;
  }
  &__posts-date {
    font-size: 14px;
    font-weight: 400;
    color: $menuColor;
  }
}

.table {
  &__posts-morePost {
    position: relative;
    background-color: var(--bgLight);
    padding: 8px;
    border-radius: 4px;
    box-shadow: $boxShadowCard;
  }
  &__posts-morePost-info {
    @include d-flex(start, center);
    width: 100%;
    margin-bottom: 6px;
    .avatar {
      @include avatar(40, 40);
    }
    .name {
      font-size: 14px;
      font-weight: 500;
      color: var(--textWhiteChange);
      margin-left: 8px;
    }
  }
  &__posts-morePost-img {
    aspect-ratio: 1;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__posts-morePost-sunIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--textWhiteChange);

    font-size: 24px;
    animation: Rotate 1s linear infinite;
  }
}

@include mobile {
  .table {
    &__posts-morePost-img {
      width: 100px;
      height: 100px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__posts-morePost-info {
      width: 100px;
      @include d-flex(start, flex-start);
      flex-direction: column;
      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 0;
        margin-top: 4px;
      }
    }
  }
}
