@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
}

.container-fluid {
  width: 1440px;
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

@mixin d-flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin box($width, $height) {
  width: $width * 1px;
  height: $height * 1px;
}

// COVER BACKGROUND
@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
