@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./variables";
:root {
  --whiteColor: #fff;
  --blackColor: #000;
  --bgColor: #fafafa;
  --bgMain: #f0f2f5;
  --menuColor: #697a8d;
  --notifyColor: #71dd37;
  --bgBody: #f0f2f5;

  --imageSize: 300px;
  --borderRadius: 8px;
  --boxShadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  --boxShadowCard: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  --paddingRL: 20%;
  --mainBlue: #0095f6;
  --greyLight: #dbdbdb;
  --greyBold: #8e8e8e;
  --greyTextColor: #566a7f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

html[data-theme="light"] {
  --textWhiteColor: #fff;
  --textWhiteChange: #000;
  --bgLight: #fff;
  --bgBody: #f0f2f5;
  --sunColor: #000;
}

html[data-theme="dark"] {
  --textWhiteColor: #fff;
  --textWhiteChange: #fff;
  --bgLight: #36393e;
  --bgBody: #282b30;
  --sunColor: yellow;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  background-color: var(--bgBody);
  width: 1440px;
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.postDetailOpen {
  overflow: hidden;
}

.section {
  padding-left: 32rem;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-top: 24px;
  @include tablet {
    padding: 12px 24px;
  }
  @include mobile {
    padding: 12px 24px;
  }
}

.container-fluid {
  height: 100vh;
}
.pt-80 {
  padding-top: 80px !important;
}
.animation-left-to-right {
  animation: LeftToRight 0.25s linear;
}

// CUSTOM ANTD
.ant-modal {
  width: fit-content !important;
  @media screen and (max-width: 767px) {
    width: 100% !important;
    padding: 0 4% 40px;
  }
}
.ant-modal-body {
  padding: 0 !important;
}
.ant-modal-content {
  border-radius: 8px !important;
}
.ant-tooltip-inner {
  padding: 0;
  border-radius: 6px;
}

@mixin d-flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin box($width, $height) {
  width: $width * 1px;
  height: $height * 1px;
}

@mixin avatar($width, $height) {
  width: $width * 1px;
  height: $height * 1px;
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

// hidden Scrollbar
@mixin hidden-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}

// COVER BACKGROUND
@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@keyframes LeftToRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes FadeOut {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes MotionEmotion {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}
