$whiteColor: #fff;
$blackColor: #000;
$bgColor: #fafafa;
$bgMain: #f0f2f5;

$imageSize: 300px;
$borderRadius: 8px;
$boxShadow: 0 1px 2px rgba(0, 0, 0, 0.2);
$paddingRL: 20%;
$mainBlue: #0095f6;
$greyLight: #dbdbdb;
$greyBold: #8e8e8e;
