$whiteColor: #fff;
$blackColor: #000;
$bgColor: #fafafa;
$bgMain: #f0f2f5;
$menuColor: #697a8d;
$notifyColor: #71dd37;

$imageSize: 300px;
$borderRadius: 8px;
$boxShadow: 0 1px 2px rgba(0, 0, 0, 0.2);

$boxShadowCard: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

$paddingRL: 20%;
$mainBlue: #0095f6;
$greyLight: #dbdbdb;
$greyBold: #8e8e8e;
$greyTextColor: #566a7f;
