@import "../../../global/scss/mixins.scss";
@import "../../../global/scss/responsive.scss";

.forgotRight {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form {
  width: 100%;
}
.forgotForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 350px;
  height: fit-content;
  background-color: $whiteColor;
  border: 1px solid #dbdbdb;
  padding: 12px 40px;
  .forgotFormLogo {
    width: 175px;
    height: 54px;
    margin-top: 24px;
    margin-bottom: 24px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      margin-top: 12px;
      margin-bottom: 10px;
    }
  }
  .subTitle {
    font-size: 18px;
    color: $greyBold;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.6rem;
    line-height: normal;
  }
  .formInput {
    width: 100%;
    height: 36px;
    border-radius: 4px;
    &:not(:first-child) {
      margin-top: 8px;
    }
  }
  .forgotBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    border-radius: 4px;
    background-color: $mainBlue;
    color: $whiteColor;
    border: none;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  .policyText {
    color: $greyBold;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-top: 6px;
    span {
      color: $greyBold;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.signUp {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: fit-content;
  background-color: $whiteColor;
  border: 1px solid #dbdbdb;
  padding: 20px 40px;
  .signUpText {
    font-size: 14px;
    font-weight: normal;
    line-height: 0;
  }
  .signUpLink {
    color: $mainBlue;
    font-size: 16px;
    font-weight: 700;
    margin-left: 4px;
  }
}

// RESPONSIVE
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .forgot {
    padding: 0 6%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .forgot {
    padding: 0 0%;
  }
  .forgotForm,
  .signUp {
    width: 300px;
  }

  .signUp {
    margin-top: 8px;
  }
}

@media screen and (max-width: 767px) {
  .forgot {
    padding: 0 6%;
  }
  .forgotForm,
  .signUp {
    width: 100%;
  }
}
