@import "../../../global/scss/rootStyles.scss";

.login {
  background-color: $bgColor;
  height: 100vh;
  padding: 0 16%;
}

.loginLeft {
  display: flex !important;
  justify-content: center;
  align-items: center;

  img {
    width: 94%;
    object-fit: cover;
  }
}

.registerRight {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.registerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 350px;
  height: fit-content;
  background-color: $whiteColor;
  border: 1px solid #dbdbdb;
  padding: 12px 40px;
  .registerFormLogo {
    width: 175px;
    height: 54px;
    margin-top: 16px;
    margin-bottom: 10px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      margin-top: 12px;
      margin-bottom: 10px;
    }
  }
  .subTitle {
    font-size: 18px;
    color: $greyBold;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.6rem;
    line-height: normal;
  }
  .formInput {
    height: 36px;
    border-radius: 4px;
    &:not(:first-child) {
      margin-top: 8px;
    }
  }
  .registerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    border-radius: 4px;
    background-color: $mainBlue;
    color: $whiteColor;
    border: none;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 600;
  }

  .policyText {
    color: $greyBold;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-top: 6px;
    span {
      color: $greyBold;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.signUp {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: fit-content;
  background-color: $whiteColor;
  border: 1px solid #dbdbdb;
  padding: 20px 40px;
  .signUpText {
    font-size: 14px;
    font-weight: normal;
    line-height: 0;
  }
  .signUpLink {
    color: $mainBlue;
    font-size: 16px;
    font-weight: 700;
    margin-left: 4px;
  }
}

.messageWaitConfirm {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
  padding: 8px 12px;
  background-color: $mainBlue;
  border-radius: 4px;
  color: #fff;
  animation: TopToDown 0.45s ease-out;
}
.errorValidatePassword,
.errorMatchPassword {
  font-size: 14px;
  color: red;
  margin-top: 6px;
  animation: LeftToRight 0.45s ease-out;
}

.errorMatchPassword {
}

// RESPONSIVE
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .login {
    padding: 0 6%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .login {
    padding: 0 0%;
  }
  .loginLeft {
    img {
      width: 100%;
    }
  }

  .signUp {
    margin-top: 8px;
  }
  .registerForm,
  .signUp {
    width: 300px;
  }
  .registerLeft {
    img {
      width: 100%;
    }
  }

  .signUp {
    margin-top: 8px;
  }
}

@media screen and (max-width: 767px) {
  .login {
    padding: 0 6%;
  }
  .loginLeft {
    display: none !important;
  }
  .registerForm,
  .signUp {
    width: 100%;
  }
  .messageWaitConfirm {
    width: 100%;
  }
}

@keyframes TopToDown {
  0% {
    transform: translateY(-100px) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0) translate(-50%, -50%);
  }
}

@keyframes LeftToRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
