@import "../../global/scss/rootStyles.scss";

.commentList {
  overflow-y: scroll;
  height: 200px;
  width: 100%;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
.commentItem {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: fit-content;
  margin-bottom: 12px;
  width: 100%;

  .userImage {
    width: 30px;
    height: 30px;
    border-radius: 100rem;
    img {
      height: 100%;
      width: 100%;
      border-radius: 100rem;
      object-fit: cover;
    }
  }
  .content {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 8px;
    border-radius: 8px;
    word-wrap: break-word;
    text-overflow: ellipsis;

    .name {
      font-size: 14px;
      font-weight: 600;
    }
    .commentText {
      display: block;
      font-size: 14px;
      font-weight: 400;
      width: 260px;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .commentList {
    height: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .commentList {
    height: 180px;
  }
}

@media screen and (max-width: 767px) {
  .commentList {
    height: 160px;
  }
}
