@import "../../../../global/scss/mixins.scss";
@import "../../../../global/scss/responsive.scss";
@import "../../../../global/scss/variables.scss";

.checkboxContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 6px;
}
.checkboxItem,
.checkedBoxItem {
  font-size: 14px;

  margin-left: 0 !important;
}
.checkboxItem {
  color: red;
}
.checkedBoxItem {
  color: $greyLight;
  margin-left: 0 !important;
  font-style: italic;
  text-decoration: line-through;
}
label.ant-checkbox-wrapper.ant-checkbox-wrapper-checked.checkboxItem {
  color: #000 !important;
}
