@import "../../../../global/scss/rootStyles.scss";

.postList {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  .postItem {
    // height: 272px;
    aspect-ratio: 1;
  }
  .postImg {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
.nonePost {
  width: 100%;
  @include d-flex(start, center);
  .iconNone {
    font-size: 40px;
  }
  .nonePostText {
    width: 100%;
    white-space: nowrap;
    font-size: 24px;
    font-weight: 500;
    margin-left: 12px;
  }
}
.nonePostLink {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
}

@include desktop {
  .postList {
    // grid-template-columns: 1fr 1fr 1fr;
  }
}
@include tablet {
  .postList {
    // grid-template-columns: 1fr 1fr;
  }
}
@include mobile {
  .postList {
    // grid-template-columns: 1fr;
  }
  .nonePost {
    width: 100%;
    @include d-flex(start, center);
    .iconNone {
      font-size: 24px;
    }
    .nonePostText {
      width: 100%;
      white-space: nowrap;
      font-size: 14px;
      font-weight: 500;
      margin-left: 12px;
    }
  }
  .nonePostLink {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 500;
  }
}
