@import "../../../../global/scss/rootStyles.scss";

.postItem {
  height: 272px;
}
.modal {
  // border-radius: 6px;
}
.postImg {
  height: 100%;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@include desktop {
  .postItem {
    height: 260px;
  }
}
@include tablet {
  .postItem {
    height: 340px;
  }
}
@include mobile {
  .postItem {
    width: 300px;
    height: 300px;
  }
}
