@import "../../global/scss/mixins.scss";
@import "../../global/scss/responsive.scss";
@import "../../global/scss/variables.scss";
.story {
  position: relative;
  padding: 12px;
  padding-right: 0;
  background-color: var(--whiteColor);
  margin-bottom: 16px;
  box-shadow: var(--boxShadow);
  border-radius: 4px;
}

.userList {
  margin-bottom: 0;
}
.nameUser {
  margin-top: 8px;
  width: 80px;
  line-height: 1;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.userItem {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userItemImg {
  width: 56px;
  height: 56px;
  border-radius: 100rem;
  background: #d6249f;
  padding: 1px;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  img {
    height: 100%;
    width: 100%;
    border-radius: 100rem;

    object-fit: cover;
  }
  @include mobile {
    width: 50px;
    height: 50px;
    border-radius: 100rem;
  }
}

.arrow {
  position: absolute;
  width: 24px !important;
  height: 24px !important;
  background-color: rgba($color: $whiteColor, $alpha: 0.4) !important;
  text-align: center;
  border-radius: 100rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
  box-shadow: var(--boxShadow) !important;
  z-index: 100;

  &.next {
    right: -10px !important;
  }
  &.prev {
    left: -22px !important;
  }
  &::before {
    display: none;
  }
  .arrowNextIcon {
    height: 100%;
    width: 100%;
    font-size: 12px;
    line-height: 24px;
    color: var(--greyBold);
  }
}

@include mobile {
  .story {
    margin-bottom: 0;
    box-shadow: none;
    padding: 20px 12px;
    border-radius: 0;
    border-bottom: 1px solid var(--borderColor);
  }
  .userItem {
    user-select: none;
    pointer-events: none;
    cursor: pointer;
  }
}
